[specializedCSS='glow'] {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow:
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 30px #ffffffc7,
      0 0 40px #ffffff79,
      0 0 50px rgba(255, 255, 255, 0.295) 73,
      0 0 60px #ffffff27,
      0 0 70px #ffffff02;
  }
  to {
    text-shadow:
      0 0 20px #fff,
      0 0 30px #ffffffbe,
      0 0 40px rgba(255, 255, 255, 0.459),
      0 0 50px #ffffff3b,
      0 0 60px #ffffff38,
      0 0 70px #ffffff1c,
      0 0 80px #ffffff11;
  }
}
[specializedCSS='darkglow'] {
  -webkit-animation: darkglow 1s ease-in-out infinite alternate;
  -moz-animation: darkglow 1s ease-in-out infinite alternate;
  animation: darkglow 1s ease-in-out infinite alternate;
}

@keyframes darkglow {
  from {
    text-shadow:
      0 0 10px rgb(0, 0, 0),
      0 0 20px rgb(0, 0, 0),
      0 0 30px #000000c7,
      0 0 40px #00000079,
      0 0 50px rgba(0, 0, 0, 0.295) 73,
      0 0 60px #00000027,
      0 0 70px #00000002;
  }
  to {
    text-shadow:
      0 0 20px rgb(0, 0, 0),
      0 0 30px #000000be,
      0 0 40px rgba(0, 0, 0, 0.459),
      0 0 50px #0000003b,
      0 0 60px #00000038,
      0 0 70px #0000001c,
      0 0 80px #00000011;
  }
}

[data-bs-theme='light'] .blocklyTreeIcon,
[data-bs-theme='light'] #blocklyTreeIcon,
[data-bs-theme='light'] .blocklyTreeIconClosed,
[data-bs-theme='light'] #blocklyTreeIconClosed {
  filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(217deg) brightness(96%) contrast(108%) !important;
}

.blocklyFlyoutLabelText,
.blocklyToolboxDiv,
.blocklyTreeLabel,
.blocklyTreeSeparator,
.blocklyTreeIcon,
.btgr,
.blocklySvg,
.blocklyFlyoutBackground,
#navSpace,
.customIcon2 {
  transition-property: background, border, color, fill, filter !important;
  transition-duration: 0.5s !important;
  transition-timing-function: ease-in-out !important;
}

[data-bs-theme='light'] .blocklyFlyoutLabelText {
  fill: #575e75 !important;
}

[data-bs-theme='light'] .blocklyToolboxDiv {
  background-color: #ddd !important;
}

[data-bs-theme='light'] .customIcon2,
[data-bs-theme='light'] .blocklyTreeLabel {
  color: black;
}

[data-bs-theme='light'] .blocklyTreeSeparator {
  border-bottom: solid #ebf0f4 1px;
  height: 0;
  margin: 5px 0;
}

[data-bs-theme='light'] .btgr {
  border-bottom: solid #bbb 1px !important;
}

[data-bs-theme='light'] .blocklySvg {
  background-color: white !important;
}

[data-bs-theme='light'] .blocklyFlyoutBackground {
  fill: #e4e4e4 !important;
}

:not([data-bs-theme='light']) #navSpace {
  background-color: rgb(22, 23, 25) !important;
}

[data-bs-theme='light'] #navSpace {
  background-color: #666 !important;
}
